body {
    background: white;
    font-family:Gabriola;
}

.fa-red {
    color: #e21;
}

.card {
    margin: 20px;
}
.grandezza-immagini {
    width: 100%;
    height: 700px;
}
a {
    font-size: 30px;
    color: white;
    background-color: transparent;
}
.navbar-nav{
    position: relative;
    left: 350px;
}
.fixed-top{
    background-color:white;
}

.dropdown-menu {
    background-color:black;
    font-size: 20px;
}
.dropdown-item {
    color: white;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
    border: 5px solid black;
    border-radius: 38px;

}
.titolo {
    font-size:56px;
}
.lead {
    color:#fdc523;
    border: 5px solid black;
    border-radius: 25px;

}